spring:
  datasource:
    url: jdbc:postgresql://postgres_test_db:5432/minane_test?connectTimeout=5000&socketTimeout=5000
    username: test_user
    password: TestPassword2024!

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true

  servlet:
    multipart:
      max-file-size: 20MB
      max-request-size: 20MB

app:
  upload:
    dir: C:/uploads

logging:
  level:
    root: INFO
    com.example.demo: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE

  pattern:
    console: "%blue([LOCAL]) %cyan(%d{yyyy-MM-dd HH:mm:ss.SSS}) %yellow([%thread]) %highlight(%-5level) %green(%logger{36}) - %msg%n"
