server:
  port: 8081
  address: 0.0.0.0

spring:
  datasource:
    url: jdbc:postgresql://apps-postgres_test-1:5432/minane_test
    username: test_user
    password: TestPassword2024!
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  servlet:
    multipart:
      max-file-size: 20MB
      max-request-size: 20MB

app:
  upload:
    dir: ${APP_UPLOAD_DIR:/app/uploads}

logging:
  pattern:
    console: "%blue([TEST]) %d{yyyy-MM-dd HH:mm:ss} %-5level %logger - %msg%n"
