spring:
  datasource:
    url: jdbc:postgresql://postgres_prod_db:5432/minane_prod?connectTimeout=5000&socketTimeout=5000
    username: prod_user
    password: ProdPassword2024!
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  logging:
    level:
      root: INFO
      com.example.demo: DEBUG
